@import "../styles/mixin";

.nav {
  @include flexBox(center, normal);
  position: fixed;
  width: 100%;
  top: 0;
  padding: 30px 50px;
  backdrop-filter: blur(20px);
  background-color: black;
  box-sizing: border-box;
  z-index: 10;
  ul {
    color: dodgerblue;
    display: flex;
    font-size: xx-large;
    gap: 30px;
    width: 90%;
    a {
      text-decoration: none;
    }
  }
}

.logo {
  @include flexBox(space-between, normal);
}
.search {
  @include flexBox(center, center);
  color: white;
  font-size: xx-large;
}
