@import "../styles/mixin";

.section {
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  h1 {
    @include textH1(xx-large, white);
    margin-bottom: 20px;
  }
}
.movie {
  position: relative;
  img {
    max-width: 100%;
    border-radius: 10px;
    width: 100%;
    height: fit-content !important;
    position: relative !important;
  }
}
.desc {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  text-align: right;
  display: grid;
  gap: 10px;
  .title {
    font-weight: 700;
    font-size: 2em;
  }
  .date {
    font-size: larger;
  }
  .overview {
    font-size: medium;
    width: 300px;
    // color: #84868d;
  }
  @include tablet {
    .title {
      font-size: larger;
    }
    .date {
      font-size: small;
    }
  }
}
