@import "@/styles/mixin";

.logout {
  width: 100%;
  @include flexBox(center, center);
  background-color: #212529;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  box-sizing: border-box;
  &:hover {
    color: #40c057;
  }
}
