@import "../../styles/_mixin.scss";
.container {
  display: grid;
  width: 90%;
  margin: 0 auto;
}

.active {
  color: white;
  border-bottom: 1px solid white;
}

.inActive {
  color: gray;
}

.relationBtn {
  @include flexBox(center, normal);
  gap: 20px;
  padding: 20px;

  div {
    transition: all 0.3s ease;
    padding: 10px;
    &:hover {
      color: white;
      border-bottom: 1px solid white;
    }
  }
}
