@import "../../styles/mixin";

.section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  gap: 20px;
  h1 {
    @include textH1(xx-large, white);
  }
}
.movies {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 30px 20px;
  overflow-y: scroll;
  box-sizing: border-box;
}
