@import "./variables";

// @mixin mobile {
//   @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
//     @content;
//   }
// }

@mixin tablet {
  @media (min-width: 0) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin flexBox($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin textH1($size, $color) {
  font-size: $size;
  color: $color;
  font-weight: 600;
}
