.container {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  /* margin: 0 auto; */
  /* margin-top: 100px; */
}

.title {
  grid-column: 1 / -1;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  gap: 20px;
  div {
    font-size: xx-large;
  }
  .sub {
    background-color: #000;
    color: white;
    font-size: medium;
    padding: 8px;
    border: 1px solid white;
    border-radius: 10px;
  }
}

.credit {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  box-sizing: content-box;
}

.credit img {
  width: 100%;
}

.credit .noImage {
  width: 100%;
  aspect-ratio: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.credit .characterName {
  margin-top: 10px;
  font-size: 16px;
  color: darkorange;
}
.credit .name {
  font-size: 14px;
}
