.nav {
  padding: 30px 50px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* left: 50%; */
  /* transform: translate(-50%); */
  /* top: 30px; */
  /* border-radius: 50px; */
  z-index: 10;
  backdrop-filter: blur(20px);
}

.nav ul {
  color: black;
  display: flex;
  gap: 30px;
}
